td {
  border-left: 0;
  border-right: 0; }

section {
  font-family: sans-serif; }

body {
  border-radius: 0; }

h1, h2 {
  font-family: sans-serif;
  font-weight: 300; }

table {
  margin-left: auto;
  margin-right: auto; }

#internet-archive h1 {
  display: none; }

div[role=note], div.handout {
  clear: both; }

body {
  font-family: sans-serif; }

h1 {
  font-weight: 300; }

div[role=note] {
  background-color: #ccc;
  padding: 10px; }

div[role=note]:before {
  content: "Note: "; }

div.handout {
  background-color: #ddd;
  padding: 10px; }

div.handout:before {
  content: 'Handout: '; }

img, video {
  max-width: 100%; }
