<html>
<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Audience Presentation Materials for WebSockets for Real-Time and Interactive Interfaces</title>
  <script src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="/assets/javascripts/jquery-2.1.0.min.js"></script>
  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.1.1/css/foundation.min.css">

  <script type="text/javascript" src="/assets/javascripts/audience.js"></script>
  <link rel="stylesheet" type="text/css" href="/assets/stylesheets/audience.css" />
</head>
<body>
	<nav class="top-bar" data-topbar>
	  <ul class="title-area">
	    <li class="name">
	      <h1><a href="#">Audience Presentation Materials</a></h1>
	    </li>
	  </ul>
	</nav>

<div class="row">
	<div class="column" id="section-container">
		<!-- Audience Handouts sections will go here. -->

		$body$

		<div class="footerfix"></div>
	</div>
</div>


<footer>
	contact:
	<a href="http://twitter.com/ronallo" target="_blank">@ronallo</a>&emsp;
	<span class="email"><a href="mailto:jronallo@gmail.com?subject=Code4Lib+WebSockets+presentation" target="_blank">jronallo@gmail.com</a></span>&emsp;
	<span class="auto-advance"><label><input id="autoadvance" type="checkbox" name="checkbox" value="value" checked> AutoAdvance</label></span>
</footer>



</body>
</html>